*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root{
  --grey: #ECEFF1;
  --dark-grey:  #b3b6b8;
  --navy: #2C384A;
  --blue: #039BE5;
  --coral: #FF8A65;
  --yellow: #FFCA28;
  --amber: #FFA000;
  --orange: #F57C00;
  --standard-transition: all 0.3s ease-out;
}
body{
  font-size: 16px;
  background-color: var(--grey);
}

.amber{
  color: var(--amber);
}
.orange{
  color: var(--orange);
}

/*------ Header ------*/
.header{
  position: fixed;
  top:0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 5%;
  width:100%;
  background-color: white;
}
.header-title{
  font-size: 150%;
  font-weight: 700;
  color: var(--navy)
}
.header-title .version{
  font-weight: 300;
}
.header-icons{
  display: flex;
}
.header-icons > a{
  align-items: center;
  display: flex;
  font-size: 110%;
  transition: var(--standard-transition);
  text-decoration: none;
  font-weight: 600;
  color: var(--navy);
}
.header-icons > a:hover{
  color: var(--blue);
}
.header-icons > a > img{
  width:30px;
  margin-right:10px;
}

/*----- Footer -----*/

.footer{
  width:100%;
  border-top:1px solid #dadce0;
  background-color: white;
  display: flex;
  align-items: center;
  color: var(--navy);
  padding:20px 5%;
  flex-direction: column;
}
.footer p{
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
.footer p a{
  color: var(--blue);
}
.footer-text{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  
}
.footer-social-links{
  display: flex;
  width:60%;
  justify-content: space-evenly;
  list-style: none;
}
.footer-social-links li a{
  display: flex;
  color: var(--navy);
  transition: var(--standard-transition);
  text-decoration: none;
  align-items: center;
}
.footer-social-links li a:hover{
  color: var(--blue);
}
.footer-social-links li a .icon{
  margin-right: 10px;
}
.content-page{
  min-height: 75vh;
  padding: 80px 5%;
}

.start-page-header p{
  line-height: 1.5;
  font-size: 120%;
}

.start-page-config{
  background-color: white;
  padding:30px 20px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px, rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
}
.start-page-config img{
  height:80px;
}
.start-page-config p{
  font-size: 110%;
  font-weight: 600;
}
.form-input-div{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form-input-div label{
  margin-right:20px;
  width:200px;
}
.start-page-config .form-input-div input,
.start-page-config .form-input-div select{
  min-width: 400px;
}
select{
  appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--dark-grey);
  font-size: 100%;
}
input{
  padding:10px;
  font-size: 100%;
  border-radius: 6px;
  border: 1px solid var(--dark-grey);
}
input[type="submit"]{
  background-color: var(--amber);
  border: 0;
  padding:10px 25px;
  font-weight: 600;
  font-size: 120%;
  color: #fff;
}
select:focus,
input:focus{
  outline: none;
  border-color : var(--amber);
}